


body {
    padding: 0 200px;

  .topheader {
    width: 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .smaller{
    padding: 0 200px;
  }
  .locations {
    background-color: #409fd6;
  }
  .fittingtoside{
    display: flex;
    flex-direction: column;
    .locationimg {
      width: 100%;
      height: auto;
    }
  }
  .locationimg {
    width: 100%;
    height: auto;
  }
  .rentalslink {
    font-size: 40px;
    display: flex;
    justify-content: center;
    background-color: #dadfea;
  }
  .sesonsimg{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  h2{
    background: rgba(0, 0, 0, 0.62);
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
  }
  h3{
    display: flex;
    justify-content: center;
  }
  .sidepannels{
    display: flex;
    flex:1;
    background: yellow;
    padding:5px;
    margin:2%;
    flex-direction:row;
    align-content:stretch;
  }
  .footer{
    background-color: #dadfea;
    display: flex;
    justify-content: center;
    a{
      margin: 20px;
    }
  }
}





