


body {
  padding: 0 0 0 10px;
  .topheader {
    width: 100px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .locations {
    background-color: #409fd6;
  }
  .fittingtoside{
    display: flex;
    flex-direction: column;
    .locationimg {
      width: 100%;
      height: auto;
    }
  }
  .locationimg {
    width: 100%;
    height: auto;
  }
  .rentalslink {
    font-size: 40px;
    display: flex;
    justify-content: center;
    background-color: #dadfea;
  }
  .sesonsimg{
    display: flex;
    justify-content: center;
  }
}





