body {
  padding: 10px 0;
}
body .topheader {
  width: 100px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .carousel {
  padding: 0 200px;
}
body .smaller {
  padding: 0 200px;
}
body .locations {
  background-color: #409fd6;
}
body .fittingtoside {
  display: flex;
  flex-direction: column;
}
body .fittingtoside .locationimg {
  width: 100%;
  height: auto;
}
body .locationimg {
  width: 100%;
  height: auto;
}
body .rentalslink {
  font-size: 40px;
  display: flex;
  justify-content: center;
  background-color: #dadfea;
}
body .sesonsimg {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
body h2 {
  background: rgba(0, 0, 0, 0.62);
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}
body h3 {
  display: flex;
  justify-content: center;
}
body .sidepannels {
  display: flex;
  flex: 1;
  background: yellow;
  padding: 5px;
  margin: 2%;
  flex-direction: row;
  align-content: stretch;
}
body .footer {
  padding: 10px 0;
  background-color: darkgray;
  display: flex;
  justify-content: center;
}
body .footer a {
  margin: 5px 20px;
}
